@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/Drivous-body-bg-scaled.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: "Montserrat", Sans-serif;
  color: #FFFFFF;
  overflow-x: hidden;
}

.wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.wrap-more {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 50px 0;
}
.header__button-burger {
  display: none;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__linck {
  padding: 8px 15px;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  height: 14px;
}
.header__navigation {
  display: inline-block;
}
@media (max-width: 650px) {
  .header__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__navigation-item {
  display: inline-block;
  list-style: none;
  padding: 8px 15px;
}
.header__navigation .item__linck {
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1.2px;
  color: white;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.714em;
  letter-spacing: 8px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #B10B1A;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  background: none;
}

.title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.33em;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.subtitle {
  color: #B10B1A;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.1em;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.position_right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.main {
  margin: 30px 0;
  height: 100%;
}
.main section {
  height: 100%;
  overflow: hidden;
  padding: 148px 0px 148px 0px;
  background-size: auto;
  background-repeat: no-repeat;
}
.main .head {
  height: 100%;
  position: relative;
  padding-bottom: 300px;
  background-size: auto;
  background-position: right center;
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/Drivous-section-1-overlay-img-1.png);
  background-repeat: no-repeat;
}
.main .head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.main .head__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 50.4px;
  letter-spacing: 10px;
}
.main .head__title {
  font-size: 130px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.77em;
  margin: 0 0 20px -8px;
}
.main .head__title span {
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/Drivous-text-bg_03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.main .head__title span:last-child {
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/Drivous-text-bg_05.png);
}
.main .head__button {
  background-color: #B10B1A;
}
.main .head__button:hover {
  background: none;
}
.main .about {
  background-position: left center;
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/Drivous-section-2-overlay-img-1.png);
}
.main .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main .about__position {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .about__paragraph {
  max-width: 414px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.143em;
  margin: 30px 0 40px 90px;
  position: relative;
}
.main .about__paragraph::after {
  content: "";
  width: 63px;
  height: 2px;
  display: block;
  background: #B10B1A;
  position: absolute;
  left: -90px;
  top: 0;
  margin: 13px 0;
}
.main .about__button {
  margin: 0 0 0 90px;
}
.main .about__button:hover {
  background: #B10B1A;
}
.main .demo {
  background-image: url(//ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/drivous-premium-img.png);
  background-position: center 16%;
  background-repeat: no-repeat;
}
.main .demo__image {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, black), to(transparent));
  -webkit-mask-image: linear-gradient(black 80%, transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, black), to(transparent));
          mask-image: linear-gradient(black 80%, transparent);
}
.main .specs {
  background-image: url("https://ld-wp73.template-help.com/wordpress/prod_17386/v1/wp-content/uploads/2021/05/Drivous-section-4-overlay-img-1.png");
  background-position: right center;
}
.main .specs__table {
  position: relative;
  margin-left: 90px;
  padding-top: 30px;
  list-style: none;
}
.main .specs__table::before {
  content: "";
  width: 63px;
  height: 2px;
  display: block;
  background: #B10B1A;
  position: absolute;
  left: -90px;
  top: 30px;
  margin: 13px 0;
}
.main .specs__table-item {
  position: relative;
  padding: 0 0 10px 0;
  max-width: 453px;
  width: 100%;
}
.main .specs__table-item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  bottom: 0;
}
.main .specs__table-item:not(:first-child) {
  margin-top: 25px;
}
.main .specs__table-title {
  display: inline-block;
  width: 50%;
  font-weight: 300;
  font-size: 14px;
  margin-right: -5px;
  text-align: left;
}
.main .specs__table-text {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}
.main .gallery__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .gallery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}
.main .gallery__block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.main .gallery__block img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.main .gallery__img {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .main .gallery__img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.main .characteristic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .characteristic__block {
  width: 366.6666666667px;
  text-align: center;
}
.main .characteristic__bg {
  position: relative;
  top: 39%;
  z-index: -1;
  opacity: 50%;
}
.main .characteristic__title {
  color: #242A32;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}
.main .characteristic__number {
  color: #B10B1A;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: #B10B1A;
  font-size: 0px;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
          animation-timing-function: cubic-bezier(0, 1, 0, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.main .characteristic__number::before {
  content: counter(ms);
  font-size: 80px;
}
.main .characteristic__description {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 5px;
}
.main .form {
  padding-top: 0;
}
.main .form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 640px;
  width: 100%;
}
.main .form__content form {
  display: inline-block;
  width: 100%;
}
.main .form__content form input {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  line-height: 2.83em;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
}
.main .form__content form input:focus {
  outline: none;
}
.main .form__content form button {
  margin: 10% auto 0 auto;
  display: block;
}
.main .form__content form button:hover {
  background: #B10B1A;
}
.main .form__title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.25em;
  letter-spacing: 9px;
  max-width: 400px;
  text-align: center;
}

footer .footer {
  background-color: #242A32;
  padding: 8px 30px 8px 30px;
}
footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 36px;
}
footer .footer__copy {
  display: inline-block;
  height: 100%;
  line-height: 36px;
}
footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .footer__social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
footer .footer__social-item:hover {
  background-color: #B10B1A;
}
footer .footer__social-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
footer .footer__social-item a i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 820px) {
  .main .wrap {
    padding: 0 20px;
  }
  .main section {
    background-size: 100%;
    background-position: 100% 100%;
  }
  .main .head {
    background-size: 100%;
    background-position: center right;
  }
}
@media (max-width: 692px) {
  .main {
    margin-top: 150px;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 20px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .header__button {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 65px;
  }
  .header__button-burger {
    z-index: 100;
    position: relative;
    display: block;
    width: 35px;
    height: 3px;
    background-color: #B10B1A;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .header__button-burger::before, .header__button-burger::after {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background-color: #B10B1A;
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .header__button-burger::before {
    top: 10.6666666667px;
  }
  .header__button-burger::after {
    top: -10.6666666667px;
  }
  .header__navigation-list {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    left: 0;
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(36, 42, 50, 0.9450980392);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 10;
    gap: 30px;
  }
  .header__navigation-item::first-letter {
    color: #B10B1A;
    font-size: 1.3em;
  }
  .header__navigation-item:first-child a {
    color: #B10B1A;
    font-size: 1.3em;
    border-bottom: #B10B1A solid 1px;
  }
  body.disable {
    overflow: hidden;
  }
  .header.active .header__navigation-list {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
  .header.active .header__button-burger {
    width: 0;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  .header.active .header__button-burger::before, .header.active .header__button-burger::after {
    top: 0;
    -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .header.active .header__button-burger::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header.active .header__button-burger::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main section {
    padding: 50px 0px 50px 0px;
    background-size: 100%;
  }
  .main .head {
    background-size: 100%;
  }
  .main .head__title {
    font-size: 14vw;
  }
  .main .demo {
    background-size: 100%;
  }
  .main .subtitle {
    font-size: 5vw;
    line-height: 6vw;
  }
  .main .title:not(.head__title) {
    font-size: 5vw;
    line-height: 6vw;
  }
  .main .about__paragraph {
    font-size: 3vw;
    line-height: 5vw;
  }
  .main .specs__table-item:not(:first-child) {
    margin: 1vw;
  }
}
@media (max-width: 425px) {
  .button {
    line-height: 0.714em;
    padding: 10px 15px;
    font-size: 8px;
  }
  footer .footer {
    padding: 0;
  }
  .wrap {
    padding: 5px;
  }
  .main .characteristic__title {
    font-size: 60px;
  }
  .main .characteristic__description {
    line-height: 50px;
  }
  .main .specs__table {
    margin-left: 0;
  }
  .main .specs__table::before {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #363636;
}

::-webkit-scrollbar-thumb {
  background: #B10B1A;
  border-radius: 10px;
}

@property --numberOne {
  inherits: false;
  syntax: "<integer>";
  initial-value: 405;
}
@property --numberTwo {
  inherits: false;
  syntax: "<integer>";
  initial-value: 7;
}
@property --numberThree {
  inherits: false;
  syntax: "<integer>";
  initial-value: 4;
}
@-webkit-keyframes count {
  0% {
    --numberOne: 0;
    --numberTwo: 0;
    --numberThree: 0;
  }
}
@keyframes count {
  0% {
    --numberOne: 0;
    --numberTwo: 0;
    --numberThree: 0;
  }
}
.footer__authors {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.footer__authors h4 {
  text-transform: uppercase;
  color: #B10B1A;
  display: block;
  border-bottom: 1px solid #B10B1A;
  letter-spacing: 6px;
  text-align: left;
  margin-bottom: 10px;
}
.footer__authors ul {
  padding-left: 30px;
}
.footer__authors ul li {
  display: inline-block;
  margin-right: 8px;
}
.footer__authors ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-right: 8px;
}